05_Clay_Lead_Enrichment/workflow.json
{
  "name": "Lead_Enrichment_Clay_Agent_v3_Final",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "domain",
              "value": "openai.com"
            },
            {
              "name": "contact_name",
              "value": "Sam Altman"
            },
            {
              "name": "tech_stack",
              "value": "Python"
            }
          ]
        }
      },
      "id": "mock-input",
      "name": "Mock Input (CSV)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        460
      ],
      "notes": "Simulates data from Sheets/Airtable"
    },
    {
      "parameters": {
        "url": "https://api.clay.com/v3/enrich",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "id": "clay-api",
      "name": "Clay Enrichment API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        460
      ],
      "notes": "Fetches Waterfall Data"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.domain }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-found",
      "name": "Data Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1060,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Lead not found in Clay"
            }
          ]
        }
      },
      "id": "error-log",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1340,
        700
      ],
      "notes": "Alerts Slack/Teams"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.tech_stack }}",
        "rules": {
          "rules": [
            {
              "value2": "Python",
              "output": 0
            },
            {
              "value2": "No-Code",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "router",
      "name": "Tech Stack Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1340,
        340
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "Write a technical email about our Python SDK."
            }
          ]
        }
      },
      "id": "ai-python",
      "name": "AI Drafter (Python)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1620,
        180
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "Write an email about our No-Code integrations."
            }
          ]
        }
      },
      "id": "ai-nocode",
      "name": "AI Drafter (No-Code)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1620,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "Write a generic value proposition email."
            }
          ]
        }
      },
      "id": "ai-generic",
      "name": "AI Drafter (Generic)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1620,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "sheet_id",
          "mode": "list",
          "cachedResultName": "Lead_Gen_Output"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        }
      },
      "id": "save-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1900,
        340
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Mock Input (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Input (CSV)": {
      "main": [
        [
          {
            "node": "Clay Enrichment API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clay Enrichment API": {
      "main": [
        [
          {
            "node": "Data Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Found?": {
      "main": [
        [
          {
            "node": "Tech Stack Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech Stack Router": {
      "main": [
        [
          {
            "node": "AI Drafter (Python)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Drafter (No-Code)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Drafter (Generic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Drafter (Python)": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Drafter (No-Code)": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Drafter (Generic)": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "stickies": [
    {
      "parameters": {
        "color": 2,
        "height": 260,
        "width": 680
      },
      "position": [
        200,
        360
      ],
      "name": "Phase 1: Data Ingestion"
    },
    {
      "parameters": {
        "color": 4,
        "height": 520,
        "width": 840
      },
      "position": [
        1000,
        140
      ],
      "name": "Phase 2: Intelligence & Logic"
    },
    {
      "parameters": {
        "color": 5,
        "height": 260,
        "width": 320
      },
      "position": [
        1860,
        240
      ],
      "name": "Phase 3: Output"
    }
  ]
}
